Conformance-Frontend/visitorLogs/*.txt
Conformance-Frontend/temp
*.log
*log*.txt
vendor/*
html-log/*
sessions/*
.idea
html-coverage
.phpunit.cache
html-reports
functional-test-results
validation-test-results
Conformance-Frontend/node_modules
functional-tests/hbbtv/sources
Utils/sessions
unit-test-results

external/*
Utils/sessions/*
