[submodule "ISOSegmentValidator"]
	path = ISOSegmentValidator
	url = https://github.com/Dash-Industry-Forum/ISOSegmentValidator
[submodule "Conformance-Frontend"]
	path = Conformance-Frontend
	url = https://github.com/Dash-Industry-Forum/Conformance-Frontend
[submodule "Conformance-Frontend-HLS"]
	path = Conformance-Frontend-HLS
	url = https://github.com/Dash-Industry-Forum/Conformance-Frontend-HLS
[submodule "DynamicServiceValidator"]
	path = DynamicServiceValidator
	url = https://github.com/Dash-Industry-Forum/DynamicServiceValidator
