Conformance-Frontend/visitorLogs/*.txt
Conformance-Frontend/temp
*.log
*log*.txt
vendor/*
html-log/*
sessions/*
.idea
html-coverage
.phpunit.cache
html-reports
html-reports-functional-tests
xml-reports-functional-tests
