Conformance-Frontend/visitorLogs/*.txt
Conformance-Frontend/temp
*.log
*log*.txt
vendor/*
html-log/*
sessions/*
.idea
html-coverage
.phpunit.cache
html-reports
functional-tests-results
validation-test-results
