.main-navigation .nav {
    --bs-nav-link-color: #ddd;
    --bs-nav-link-hover-color: #fff;
    --bs-nav-link-disabled-color: #999;
}

.main-navigation .nav-pills {
    --bs-nav-pills-link-active-color: #007BFF;
    --bs-nav-pills-link-active-bg: #eee;
}