name: deploy

on:
  workflow_call:
    inputs:
      envname:
        required: true
        type: string
      docker_tag:
        required: true
        type: string
      docker_port:
        required: true
        type: number
    secrets:
      host:
        required: true
      user:
        required: true
      private_key:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Convert repository name to lower case
        run: |
          echo REPOSITORY_LC=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Calculate short git commit SHA
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ env.REPOSITORY_LC }}:${{inputs.docker_tag}}
          build-args: |
            SHORT_SHA:${{ env.COMMIT_SHORT_SHA }}
      - name: Login to production server and deploy
        uses: fifsky/ssh-action@v0.0.6
        with:
          command: |
            docker stop $(docker ps -aq --filter "name=${{inputs.envname}}")
            docker rm $(docker ps -aq --filter "name=${{inputs.envname}}")
            docker image rm ghcr.io/${{ env.REPOSITORY_LC }}:${{inputs.docker_tag}}
            export CR_GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            echo $CR_GITHUB_TOKEN | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
            docker pull ghcr.io/${{ env.REPOSITORY_LC }}:${{inputs.docker_tag}}
            docker run --name ${{inputs.envname}} --env SHORT_SHA=$( echo ${{ github.sha }} | cut -c 1-7 ) -d -p ${{inputs.docker_port}}:80 --restart unless-stopped ghcr.io/${{ env.REPOSITORY_LC }}:${{inputs.docker_tag}}
          host: ${{ secrets.host }}
          user: ${{ secrets.user }}
          key: ${{ secrets.private_key }}
